<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxlala.demo.mapper.LinkManMapper">

    <select id="getLinkManListMap" resultType="linkman">
        select * from cts_linkman
    </select>

    <select id="queryCusByWhere" parameterType="linkman" resultType="linkman">
        select * from cts_linkman where link_age = #{link_age} and link_name like '%${Link_name}%'
    </select>

    <select id="queryCusByWhere2" parameterType="linkman" resultType="linkman">
        select * from cts_linkman
        where 1=1
        <include refid="Linkman_if"/>
    </select>

    <select id="queryCusByWhere3" parameterType="linkman" resultType="linkman">
        select * from cts_linkman
        <where>
            <include refid="Linkman_if"/>
        </where>
    </select>

    <sql id="Linkman_if">
        <if test="link_age != null and link_age != ''">
            and link_age = #{link_age}
        </if>
        <if test="link_name != null and link_name != ''">
            and link_name like '%${Link_name}%'
        </if>
    </sql>
</mapper>